{% extends 'base.html.twig' %}

{% block title %}Hello vhbferizjgbiehj!{% endblock %}

{% block body %}
<div> <a href="{{ path('newsuggestion') }}">Clique ici pour ajouter une nouvelle suggestion</a>
</div>
{% endblock %}
