{% extends '../base.html.twig' %}



{% block body %}

    <div class="container">


        <div class="row">
            <div class="card text-left text-white border-dark bg-brown col-md-8 offset-md-2">
                <h2 class="card-header text-center"><strong>BIENVENUE SUR LE SITE DU BDE CESI !</strong></h2>
                <img class="card-img-top" src="img/bde-tls.jpg" alt="LOGO BDE CESI" style="margin-top: 15px">
                <div class="card-body text-center">
                    <p class="card-text">N'oublies pas de t'indentifier pour avoir accès à nos nombreux évènements !</p>

                    <a href="#" class="btn btn-light col-lg-3 col-md-3" style="border: #343a40 3px solid; border-radius: 10px">S'inscrire</a>
                    <a href="#" class="btn btn-light col-lg-3 offset-lg-1 col-md-3 offset-md-1" style="border: #343a40 3px solid; border-radius: 10px">Se connecter</a>
                </div>
                <div class="card-footer text-center">
                    <p class="card-subtitle text-muted">Tu peux nous joindre via la page <a href="#">Contact</a> ou par mail : bde@cesi.fr</p>
                </div>
            </div>
        </div>


    </div>

{% endblock %}