{% extends 'base.html.twig' %}


{% block title %}Page d'aministration{% endblock %}

{% block body %}


    <div class="container">


        <div class="row">
            <h1 class="col-md-6 offset-md-3 text-center"><strong>PAGE D'ADMINISTRATION</strong></h1>
        </div>

        <div class="row">

                <a href="#" class="btn btn-brown btn-lg dark-outer-button col-xl-2 offset-xl-2 col-md-3" role="button" aria-pressed="true">Les produits</a>
                <a href="#" class="btn btn-brown btn-lg dark-outer-button col-xl-2 col-md-3" role="button" aria-pressed="true">Les catégories</a>
                <a href="#" class="btn btn-brown btn-lg dark-outer-button col-xl-2 col-md-3" role="button" aria-pressed="true">Les évènements</a>
                <a href="#" class="btn btn-brown btn-lg dark-outer-button col-xl-2 col-md-3" role="button" aria-pressed="true">Les utilisateurs</a>


        </div>


    </div>


{% endblock %}