{% extends 'base.html.twig' %}


{% block title %}Boite à idées{% endblock %}

{% block body %}


    <div class="container">


        <div class="row">
            <h1 class="col-md-6 offset-md-3 text-center"><strong>BOITE A IDEE</strong></h1>
        </div>


        <!-- Products-->
        <div class="container">
            <div class="row product">
                <div class="card-columns">

                    <div class="card text-left text-white border-dark bg-brown">
                        <div class="card-header">
                            <h1 class="card-title">Idee #1</h1>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste libero qui quos reprehenderit sequi? Aperiam asperiores assumenda et explicabo fugit laborum nisi quibusdam quis quisquam, rerum tenetur, velit veniam veritatis.</p>
                            <div class="row">
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime</a>
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime pas</a>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Signaler</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Supprimer</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Realiser</a>
                        </div>
                    </div>

                    <div class="card text-left text-white border-dark bg-brown">
                        <div class="card-header">
                            <h1 class="card-title">Idee #2</h1>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus fuga pariatur totam. Aliquam atque, commodi doloribus dolorum et exercitationem maxime minus molestias sequi? A ipsam nisi officia officiis voluptate.</span><span>Accusantium ad adipisci aliquam architecto blanditiis consequatur cumque dolore dolorem, eius, exercitationem explicabo fugit harum illum incidunt ipsam itaque iusto minima nemo obcaecati omnis quaerat quam quidem tempore ullam, veniam.</span></p>
                            <div class="row">
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime</a>
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime pas</a>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Signaler</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Supprimer</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Realiser</a>
                        </div>
                    </div>

                    <div class="card text-left text-white border-dark bg-brown">
                        <div class="card-header">
                            <h1 class="card-title">Idee #3</h1>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum eius eligendi hic iusto, magnam repellendus veniam. Accusantium animi consectetur culpa ducimus in ipsam itaque minima, necessitatibus officia quas soluta.</span><span>Accusantium amet aperiam, commodi cupiditate deserunt dolore dolorem dolores facilis fugit harum modi necessitatibus nostrum obcaecati, porro recusandae, reiciendis voluptatum? Aut beatae cum, dolore ipsa nobis numquam quidem reiciendis sunt?</span></p>
                            <div class="row">
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime</a>
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime pas</a>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Signaler</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Supprimer</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Realiser</a>
                        </div>
                    </div>

                    <div class="card text-left text-white border-dark bg-brown">
                        <div class="card-header">
                            <h1 class="card-title">Idee #4</h1>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Petite description</p>
                            <div class="row">
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime</a>
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime pas</a>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Signaler</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Supprimer</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Realiser</a>
                        </div>
                    </div>

                    <div class="card text-left text-white border-dark bg-brown">
                        <div class="card-header">
                            <h1 class="card-title">Idee #5</h1>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste libero qui quos reprehenderit sequi? Aperiam asperiores assumenda et explicabo fugit laborum nisi quibusdam quis quisquam, rerum tenetur, velit veniam veritatis.</p>
                            <div class="row">
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime</a>
                                <a href="#" class="btn btn-light col" style="border: #343a40 3px solid; border-radius: 10px">J'aime pas</a>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Signaler</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Supprimer</a>
                            <a href="#" class="btn btn-light col-lg-5 text-muted" style="border: #343a40 3px solid; border-radius: 10px">Realiser</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}