.bg-lightBrown{
    background-color: #987653;
}

.bg-brown{
    background-color: #7b3f00;
}

.row{
    margin: 30px 0;
}

.comment{
    margin: 20px 0;
}

.border-dark{
    border-width: 4px;
    border-radius: 10px;
}

.btn-white{
    background-color: #ffffff;
}