.bg-brown{
    background-color: #7b3f00;
}

.bg-lightBrown{
    background-color: #987653;
}

.row{
    margin: 10px 0;
}

.adminButtonSeparation{
    margin: 30px 0;
}

.btn-brown{
    background-color: #7b3f00;
    color: white;
}

.eventSeparation{
    margin: 30px 0;
}

.commentSeparation{
    margin: 20px 0;
}

.border-dark{
    border-width: 4px;
    border-radius: 10px;
}

.dark-outer-button{
    border: #343a40 3px solid;
    border-radius: 10px
}

.btn-white{
    background-color: #ffffff;
}

.beginningProducts{
    margin-top: 30px;
}

.swapLink{
    color: #000000;
    text-decoration: none;
}