{% extends 'base.html.twig' %}

{% block title %}Edit Your Account{% endblock %}

{% block body %}
    <h1>Edit Your Account</h1>

    {{ include('_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('account') }}">back to list</a>

{% endblock %}